.order-detail{
    border: none;
    margin:20px
}
.shipping-address,.payment-info{
    text-decoration: underline;
}
.address{
    padding: 20px 0;
    font-size: 20px;
}
.payment-method{
    padding:20px 0;
    font-size: 20px;

}
.order-img{
    width: 80px;
}
.order-summary{
    margin:20px 0;
}
.confirm-num{
    font-size:36px;
    color: rgb(53, 176, 135);
    width: fit-content;
    text-shadow: 1px 1px rgb(97, 186, 100);
}
.ty-msg{
    border: none;
    margin:20px 0;
    font-size: 20px;
    background-color: rgba(52, 173, 18, 0.363);
}